@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: Hind;
}

ul {
    margin: 5px;
    padding: 0px;
    list-style-type: none;
    border-radius: 5px;
    width: 80px;
}

ul:hover {
    background-color: #dfdfdf;
}


#container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

aside {
    display: flex;
    flex-direction: column;
    width: 12.5%;
    min-width: 210px;
    height: 100%;
    background-color: #f7f7f7;
}

/* #EFEFED color hover */
/* #5F5E5B color content */
/* #92928F color title */
/* #A9A9A7 color icon */

/* -- ASIDE SECTION TOP --*/

#section-top {
    display: flex;
    width: 100%;
    height: 5%;
    min-height: 50px;
    align-items: center;
}

#user-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 5px;
    padding-left: 10px;
}

.user-image {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background-color: rgb(75, 75, 75);
}

.user-name {
    font-weight: 500;
}

/* -- ASIDE SECTION MID --*/

#section-mid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    min-height: 150px;
    margin-top: 40px;
    gap: 10px;
}

#section-mid .section {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 10px;
    color: #5F5E5B;
}

#section-mid .section .icon {
    display: flex;
    align-content: center;
}

#section-mid .section .icon img {
    margin: 3px;
}

#section-mid .section .title {
    font-size: 1.2em;
    text-align: center;
}

/* -- ASIDE SECTION BOTTOM --*/

#section-bottom {
    display: flex;
    width: 100%;
    height: 65%;
    min-height: 150px;
}

#section-bottom #content {
    width: 100%;
    margin: 10px;
    color: #5F5E5B;
}

#section-bottom #content .list-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 1.2em;
    padding: 3px 10px;
}

#section-bottom #content .list-container:hover {
    justify-content: space-between;
    background-color: #ebebeb;
    border-radius: 5px;
    cursor: pointer;
}

#section-bottom #content .list-container:hover #add-icon,
#section-bottom #content .list-container:hover #options-icon {
    display: flex;
}

#section-bottom .list-container #add-icon,
#section-bottom .list-container #options-icon {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section-bottom #add-icon,
#section-bottom #options-icon {
    position: relative;
    display: inline-block;
    padding: 5px; 
}

#section-bottom #add-icon img {
    height: 0.7em; 
}

#section-bottom #add-icon .hover-text,
#section-bottom #options-icon .hover-text {
    display: none;
    position: absolute;
    top: 100%; /* Place le texte juste en dessous de l'image */
    left: 50%; /* Centrage horizontal */
    transform: translateX(-50%); /* Ajustement pour centrer parfaitement */
    background-color: rgba(21, 20, 20, 0.711);
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.9em;
    z-index: 1;
    white-space: nowrap;
}

#section-bottom #add-icon:hover,
#section-bottom #options-icon:hover {
    background-color: #dfdfdf;
    border-radius: 5px;
}

#section-bottom #add-icon:hover .hover-text,
#section-bottom #options-icon:hover .hover-text {
    display: block;
}


#section-bottom .list-container #options-card {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    font-size: 0.9em;
    position: absolute;
    transform: translateX(-50%);
    z-index: 1;
    left: calc(max(215px, 13%));
}



