@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");

:root {
  --aside-width: 10%;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: Hind;
}

ul {
  margin: 5px;
  padding: 0px;
  list-style-type: none;
  border-radius: 5px;
  width: 80px;
}

ul:hover {
  background-color: #dfdfdf;
}

input {
  border: none;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

aside {
  display: flex;
  position: sticky;
  flex-direction: column;
  width: var(--aside-width);
  min-width: 210px;
  height: 100%;
  background-color: #f7f7f7;
}

/* #EFEFED color hover */
/* #5F5E5B color content */
/* #92928F color title */
/* #A9A9A7 color icon */

/* -- ASIDE SECTION TOP --*/

#section-top {
  display: flex;
  width: 100%;
  height: 5%;
  min-height: 50px;
  align-items: center;
}

#user-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  gap: 5px;
  padding-left: 10px;
}

.user-image {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  background-color: rgb(75, 75, 75);
}

.user-name {
  font-weight: 500;
}

/* -- ASIDE SECTION MID --*/

#section-mid {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
  min-height: 150px;
  margin-top: 40px;
  gap: 10px;
}

#section-mid .section {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  gap: 10px;
  color: #5f5e5b;
}

#section-mid .section .icon {
  display: flex;
  align-content: center;
}

#section-mid .section .icon img {
  margin: 3px;
}

#section-mid .section .title {
  font-size: 1.2em;
  text-align: center;
}

#section-mid .section:hover {
  background-color: #ebebeb;
  border-radius: 5px;
  cursor: pointer;
}

/* -- ASIDE SECTION BOTTOM --*/

#section-bottom {
  display: flex;
  width: 100%;
  height: 65%;
  min-height: 150px;
}

#section-bottom #content {
  width: 100%;
  margin: 10px;
  color: #5f5e5b;
}

#section-bottom #content .list-container,
.list-container-title {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size: 1.2em;
  padding: 3px 10px;
}

#section-bottom #content .list-container:hover,
.list-container-title:hover {
  justify-content: space-between;
  background-color: #ebebeb;
  border-radius: 5px;
  cursor: pointer;
}

#section-bottom #content .list-container:hover #add-icon,
#section-bottom .list-container-title:hover #add-icon,
#section-bottom #content .list-container:hover #options-icon {
  display: flex;
}

#section-bottom .list-container #add-icon,
#section-bottom .list-container-title #add-icon,
#section-bottom .list-container #options-icon {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section-bottom #add-icon,
#section-bottom #options-icon {
  position: relative;
  display: inline-block;
  padding: 5px;
}

#section-bottom #add-icon img {
  height: 0.7em;
}

#section-bottom #add-icon .hover-text,
#section-bottom #options-icon .hover-text {
  display: none;
  position: absolute;
  top: 100%; /* Place le texte juste en dessous de l'image */
  left: 50%; /* Centrage horizontal */
  transform: translateX(-50%); /* Ajustement pour centrer parfaitement */
  background-color: rgba(21, 20, 20, 0.711);
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.9em;
  z-index: 1;
  white-space: nowrap;
}

#section-bottom #add-icon:hover,
#section-bottom #options-icon:hover {
  background-color: #dfdfdf;
  border-radius: 5px;
}

#section-bottom #add-icon:hover .hover-text,
#section-bottom #options-icon:hover .hover-text {
  display: block;
}

#section-bottom .list-container #options-card {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  font-size: 0.9em;
  position: absolute;
  transform: translateX(-50%);
  z-index: 1;
  left: calc(max(215px, 13%));
}

#section-bottom #content .list-container input:focus {
  font-size: 0.9em;
  border-radius: 5px;
  border: 0.1px;
  padding: 2px;
  color: #5f5e5b;
  outline: none;
}

/* -- MAIN SECTION --*/

main {
  width: calc(100% - var(--aside-width));
  height: 100%;
  flex-grow: 1; /* Le main prend tout l'espace restant */
  overflow-y: auto; /* Permettre le défilement vertical dans le main */
}

#main-container {
  height: 100%;
}

#main-container #main-content {
  display: flex;
  flex-direction: column;
  color: #4e4d4b;
  width: 100%;
  height: 100%;
}

/*block si liste non vide*/

#main-container #main-content .page-title {
  padding: 20px;
  font-size: 3.8em;
  font-weight: 600;
  cursor: default;
}

#main-container #main-content .sub-list-container {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0px 20px;
}

#main-container #main-content .sub-list-layout {
  display: flex;
  flex-direction: row;
  background-color: #f8f7f7;
  border-radius: 12px 12px 0px 0px;
  height: 80px;
}

#main-container #main-content .sub-list-layout:hover #delete-list {
  transition: 0.5s;
  background-color: #dfdfdfab;
  color: #424240;
}

#main-container #main-content .sub-list-layout .sub-list-container-left {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 5%;
}

.display-tasks {
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: 0.3s;
}

.off {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transition: 0.3s;
}

#main-container #main-content .sub-list-layout .sub-list-container-middle {
  width: 90%;
}

.sub-list-name,
.sub-list-description {
  width: 50%;
  white-space: nowrap;
  outline: none;
}

.sub-list-name {
  height: 55%;
  font-size: 1.7em;
  font-weight: 500;
}

.sub-list-description {
  height: 45%;
  font-size: 1.2em;
  font-weight: 200;
}

#main-container #main-content .sub-list-layout .sub-list-container-right {
  width: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#delete-list {
  height: 20px;
  width: 20px;
  margin-top: 5px;
  margin-left: 45%;
  border-radius: 100%;
  cursor: pointer;
  color: #f8f7f7;
}

.delete-button {
  font-size: 0.9em;
  text-align: center;
}

.sub-list-progess-container {
  width: 100%;
  height: 60%;
  background-color: #c9c9c6;
}

#main-container #main-content .task-container {
  display: flex;
  flex-direction: column;
}

#add-task-button {
  text-align: center;
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 3px;
  gap: 5px;
  cursor: pointer;
  color: #a1a09e;
  border-top: 0.1px solid #e9e9e7;
  border-bottom: 0.1px solid #e9e9e7;
}

#add-task-button:hover {
  background-color: #9e9d9a30;
}

.plus-layout {
  border: 0.1px solid #a1a09e;
  border-radius: 5px;
  padding: 0px 7px 0px 7px;
  font-size: 1.1em;
  height: 25px;
}

#add-list-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: 500;
  background-color: #f8f7f7;
  border-radius: 8px;
  margin: 20px 20px 100px 20px;
  height: 40px;
  gap: 5px;
  cursor: pointer;
}

#add-list-button:hover {
  background-color: #86858230;
}

/* Block si liste vide*/

.empty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}

.empty-text {
  font-size: 1.9em;
  color: #424240;
}
.empty-button-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  color: #5f5e5b;
  font-size: 1.4em;
  text-align: center;
}

.empty-button-container:hover {
  color: #807f7b;
}

#add-main-task {
  border: solid 1px;
  border-radius: 100%;
  height: 28px;
  width: 28px;
  cursor: pointer;
}

/* table header  */

.table-header,
.table-row {
  display: grid;
  grid-template-columns: 3fr 3fr 2fr 1fr 0.5fr 0.5fr;
  border-top: 0.1px solid #e9e9e7;
}

.table-label {
  padding: 0.25% 7%;
  color: #83827f;
  font-size: 1.1em;
}

.table-header #name,
#note,
#priority,
#date,
#status,
.table-row .task-name-container,
.task-note-container,
.task-priority,
.task-date,
.task-status-container {
  border-right: 0.1px solid #e9e9e7;
}

.task-name-container,
.task-note-container {
  display: flex;
  align-items: center;
}

.table-row .task-name,
.task-note,
.task-priority,
.task-date {
  padding: 0.25% 7%;
  outline: none;
}

input[type="date" i] {
  font-family: Hind;
  font-weight: 500;
}

.task-status-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-status {
  cursor: pointer;
  height: 40%;
  width: 40%;
}

/* Gestion des priorités */

.task-priority {
  cursor: pointer;
}

#priority-value {
  margin: 5px;
}

.priority-options {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 100px;
  transform: translateX(50%); /* Ajustement pour centrer parfaitement */
  background-color: white;
  padding: 1px;
  border: 1px solid #e9e9e7;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1.2em;
  z-index: 1;
}

.priority-label {
  margin: 0.5px;
  padding: 5px;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
}

.priority-label:hover {
  background-color: #f5f5f4;
}

.option-Low,
.option-Medium,
.option-High {
  padding: 2px;
  border-radius: 7px;
  text-align: center;
}

.option-Low {
  background-color: #dbeddb;
  color: #626c62;
}

.option-Medium {
  background-color: #fbeac6;
  color: #706651;
}

.option-High {
  background-color: #ffe2dd;
  color: #766865;
}

.trash-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.trash-icon {
  height: 16px;
  width: 16px;
}

.label-trash-icon {
  display: none;
  padding: 2.5px;
  font-size: 0.8em;
  text-align: center;
  background-color: rgba(21, 20, 20, 0.711);
  color: white;
  border-radius: 5px;
  position: absolute;
  transform: translateX(-50%);
  transform: translateY(95%);
  z-index: 1;
}

.trash-icon-container:hover .label-trash-icon {
  display: block;
}
